*.log
.DS_Store
.env
.env.backup
.env.production
.deploy/*.env
.phpactor.json
.phpunit.result.cache
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/.vercel
/auth.json
/node_modules
/web/node_modules
/web/dist
/web/.vercel
/backend
/web
/frontend*.tar.gz
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
